In [3]:
%load_ext sql

In [14]:
%sql sqlite://precios/

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])
Invalid SQLite URL: sqlite://precios/
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])

In [12]:
ls

LAB-precios-electricidad.ipynb*  Untitled1.ipynb*  precios/
README.md*                       Untitled2.ipynb*  precios.zip*
Untitled.ipynb*                  __MACOSX/         taller.ipynb*

In [5]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [6]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]